node_modules
.env*
.eslintcache
.vscode/
.next
yarn-error.log
cypress/screenshots
cypress/videos

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
