node_modules
.env*
.eslintcache
.vscode/
.next

#Cypress
cypress/screenshots
cypress/videos

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
