node_modules
.env*
!.env.template
.eslintcache
.next
coverage/
yarn-error.log
/test-results/
/playwright-report/
/playwright/.cache/
e2e/setup/storage-state.json

analyze/
.idea/
tsconfig.tsbuildinfo

next-env.d.ts
.vercel
generated/
