@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-base {
		@apply flex cursor-pointer items-center justify-center gap-2 rounded-md px-3 py-2 text-sm shadow-md transition-all duration-75 md:px-4 md:py-2 md:text-base;
		@apply disabled:pointer-events-none disabled:cursor-default disabled:border-zinc-400;
	}

	.btn-primary {
		@apply border border-transparent bg-orange-600 font-semibold text-white disabled:bg-orange-200 disabled:text-zinc-400;
		@apply hover:bg-orange-500 hover:text-white;
	}
	.btn-secondary {
		@apply bg-fg text-white disabled:bg-zinc-200 disabled:text-zinc-400;
		@apply hover:bg-zinc-700 hover:text-white;
	}
	.btn-success {
		@apply bg-green-300 disabled:bg-green-50 disabled:text-zinc-400;
		@apply hover:bg-green-400;
	}
	.btn-danger {
		@apply bg-red-600 text-white disabled:bg-zinc-200 disabled:text-zinc-400;
		@apply hover:bg-red-500 hover:text-white;
	}
	.btn-info {
		@apply bg-blue-200 disabled:bg-blue-100 disabled:text-zinc-400;
		@apply hover:bg-blue-300;
	}
	.btn-default {
		@apply border border-zinc-400 bg-white text-fg disabled:bg-zinc-200 disabled:text-zinc-400;
		@apply hover:bg-zinc-50;
	}

	.btn-group {
		@apply mt-5 flex items-center justify-center gap-6;
	}

	.input {
		@apply w-full rounded-md border bg-white p-3 shadow-md outline-none focus-within:border-orange-500;
	}

	.tree {
		@apply z-0 m-0 flex flex-col p-0 pl-4;

		li {
			@apply relative border-l border-zinc-500 py-1 pl-6;

			&:before {
				@apply absolute left-0 top-0 border-b border-b-zinc-500 content-[""];
				@apply h-8 w-2;
			}

			/* Create new button */
			&:last-child {
				@apply border-l-0 py-0;

				&:before {
					@apply h-6 w-4 border-l border-dashed border-l-zinc-500;
				}
			}
		}
	}
}

body {
	@apply text-fg;
	@apply bg-white;
}

*,
*::before,
*::after {
	@apply font-sans;
	@apply box-border border-zinc-300;
}

a {
	@apply cursor-pointer no-underline;

	&:hover {
		@apply text-orange-700;
	}
}

.cat-wrap {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 8px;

	* {
		place-self: center;
		margin: 8px;
	}
}
